/*清零*/
*{
	margin: 0;
	padding: 0;
}
body{
	font:12px Helvetica,Arial,sans-serif;
}
a{
	text-decoration: none;
}
img,input{
	border: none;
	border: 1px solid none;/*主要针对IE6*/
}
/*头部*/
#hd-header{
	width: 950px;
	height: 90px;
	margin: 0 auto;
/*	border: 1px solid red;*/
	position: relative;
}
#hd-header .header-logo{
	display: block;
	width: 154px;
	height: 30px;
	background: url(./img/logo_db.png) no-repeat;
	position: absolute;
	left: 0px;
	top: 29px;
}
#hd-header .header-search{
 width: 270px;
 height: 30px;
 border: 1px solid #c3c3c3;
 position: absolute;
 left: 183px;
 top: 30px;
 color: #c3c3c3;
 padding-left: 6px;
 line-height: 30px;
}
#hd-header p{
	width: 13px;
	height: 13px;
	background: url(./img/bn_srh_1.png) no-repeat;
	position: absolute;
	left: 433px;
	top: 40px;

}
#hd-header ul{
    width: 463px;
    height: 20px;
 /*   border: 1px solid blue;*/
    position: absolute;
    right: 0px;
    top: 36px;
    list-style: none;
}
#hd-header ul li{
	
	float: left;
 /*  margin-right: 20px;*/

}
#hd-header ul li a{
	height: 20px;
	width: 40px;
	display: block;
/*	border: 1px solid yellow;*/
	left: 0px;
	


}
#hd-header ul li a.read{
	margin-right: 20px;
	background: url(./img/anony_nav_logo.png) 0px 0px no-repeat;
}
#hd-header ul li a.movie{
	margin-right: 20px;
	background: url(./img/anony_nav_logo.png) -60px 0px no-repeat;
}
#hd-header ul li a.music{
	margin-right: 20px;
	background: url(./img/anony_nav_logo.png) -120px 0px no-repeat;
}
#hd-header ul li a.group{
	margin-right: 20px;
	background: url(./img/anony_nav_logo.png) -180px 0px no-repeat;
}
#hd-header ul li a.fm{
	margin-right: 20px;
	background: url(./img/anony_nav_logo.png) -240px 0px no-repeat;
}
#hd-header ul li a.local{
	margin-right: 20px;
	background: url(./img/anony_nav_logo.png) -300px 0px no-repeat;
}
#hd-header ul li a.direction{
	margin-right: 20px;
	background: url(./img/anony_nav_logo.png) -360px 0px no-repeat;
}
#hd-header ul li a.market{
    
	background: url(./img/anony_nav_logo.png) -420px 0px no-repeat;
}
/*头部注释*/

/*注册区域*/
#hd-red-background{
   background: url("img/background.png");
  /* background-color: #edf4ed;*/
   height:180px;
   width: 100%;
  /* position: relative;*/
   
}
#hd-red-background .wrapper{
	width: 950px;
	height:180px;
	
    margin: 0 auto;
    /* border: 1px solid red; */
    position: relative;
   
}
#hd-red-background .wrapper .download{
	width: 149px;
	height:120px;
	position: absolute;
	top: 25px;
	left: 430px;
	/* border: 1px solid green; */
    clear: both;

}

#hd-red-background .wrapper .download .title{
	height: 24px;
	width: 149px;
	margin: 7px 0;
	font-size: 25px;
	color: #111;
	line-height: 24px;
	
}
#hd-red-background .wrapper .download .content{
	height: 15px;
	width: 98px;
	font-size: 12px;
}
#hd-red-background .wrapper .download .link-app{
	display: inline-block;
	height: 32px;
	width: 114px;
	margin: 21px 0;
	background: #00B51D;
	color: #FFF;
	line-height: 30px;
	text-align: center;
}


#hd-red-background .wrapper .download .appro{
	display: inline-block;
	width: 30px;
	height: 30px;
    background: url("./img/icon_qrcode_greeno.png") no-repeat;
	border: 1px solid gray;
	vertical-align: middle;
	cursor: pointer;
	/* position: absolute; */
	
}

/* #hd-red-background .wrapper .download .appro :hover{
	visibility: visible;
} */

#hd-red-background .wrapper .download .scan{
    position: absolute;
	width: 180px;
	height: 218px;
    color: gray;
    background: white;
    text-align: center;
   visibility: hidden;
   z-index: 60;


}
#hd-red-background .wrapper .download .scan img{
	width: 160px;
	height: 160px;
	margin: 10px 10px;
	
}
#hd-red-background .wrapper .register{
	display: inline-block;
	width: 270px;
	height:140px;
	position: absolute;
	top: 20px;
	left: 680px;
	/* border: 1px solid yellow; */

}
#hd-red-background .wrapper .register .reg .username{
  width: 269px;
  height: 32px;
  border: 1px solid #c3c3c3;
}
#hd-red-background .wrapper .register .reg .password{
	width: 269px;
	height: 32px;
	border: 1px solid #c3c3c3;
	margin: 5px auto;
  }
  #hd-red-background .wrapper .register .reg .submit{
	float: left;
	 display: inline-block;
	  width: 130px;
	  height: 30px;
	  color: white;
	  background-color: #30a080;
	  border-radius: 2px;
	  text-align: center;
	  line-height: 30px;
	  border:1px solid #30a080;
  }
  #hd-red-background .wrapper .register .reg .submit:hover{
	background-color: #2A8C70;
  }
  #hd-red-background .wrapper .register .reg .create{
	float: left;
	margin-left: 5px;
	display: inline-block;
	
	width: 130px;
	height: 30px;
	color: #30a080;
	background-color: #EDF4ED;
	border-radius: 2px;
	text-align: center;
	line-height: 30px;
	border:1px solid #30a080;

  }
  #hd-red-background .wrapper .register .reg .rem{
	  display: inline-block;
	  width: 40%;
	  height: 22px;
	  /* border: 1px solid greenyellow; */
	  line-height: 22px;
	  padding-left: 13px;
	 
	
  }
  #hd-red-background .wrapper .register .reg .rem #select{
	
	  width: 12px;
	  height: 12px;
	  position: absolute;
	  top: 116px;
	  left: 0;
	 
	
  }
/*注册区域结束*/
/* 图片区域 */
#welcome{
	display: block;
	width: 950px;
	height: 90px;
	margin: 35px auto 0;
}
/* 图片区域结束 */
/* 热点内容 */
#hotP{
	width: 950px;
	height: 560px;
	/* border: 1px solid green; */
	margin: 0 auto;
}
#hotP .hotC{
	width: 165px;
	height: 16px;
	/* border: 1px solid blue; */
	margin: 15px 0 15px;
}
#hotP .hotC .item1{
	font: 15px/150% Arial,Helvetica,sans-serif;
    color: #007722;
}
#hotP .hotC .item2{
	color: #3377AA;
}
#hotP .hot-mix{
	float: left;
	width: 350px;
	height: 435px;
	/* border: 1px solid red; */
	/* margin-right: 30px; */
}
#hotP .hot-mix .hot-pic{
	width: 350px;
	height: 389px;
	/* border: 1px solid green; */
}
#hotP .hot-mix .hot-pic div{
	width: 170px;
	height: 185px;
	float: left;
	margin: 2px;
}
#hotP .hot-mix .hot-pic a{
	background-color: transparent;
	color: #3377aa;
}
#hotP .hot-word{
	display: inline-block;
	margin: 50px 30px;
	float: left;
	width: 270px;
	height: 370px;
	/* border: 1px solid red; */
	
}
#hotP .hot-word a{
	background-color: transparent;
	color: #3377aa;
}
#hotP .hot-word span{
	color: #999;
    font-weight: 400;
    font-size: 12px;
}
#hotP .hot-word li{
 padding-top: 15px;
 list-style: none;
}
#hotP .hot-topic{
	float: left;
	width: 250px;
	height: 480px;
	/* border: 1px solid red; */
	margin-top: 20px;
}
#hotP .hot-topic p > span{
	font: 15px/150% Arial,Helvetica,sans-serif;
    color: #007722;
}
#hotP .hot-topic a{
	background-color: transparent;
	color: #3377aa;
}
#hotP .hot-topic ul > li{
	list-style: none;
	padding-top: 12px;
}
#hotP .hot-topic ul > li a{
	
	font: 16px/150% Arial,Helvetica,sans-serif;
}
#hotP .hot-topic ul > li span{
	color: #999999;
}
/* 热点内容结束 */


/*公共样式*/
a{
	color: #3377aa
}
a:hover{
background-color: #3377aa;
color: #fff;
}